@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root {
  --primary-color: #00e269;
  --secondary-color: #e9e9e9;
  --background: #f9f9f9;
  --text: #000000;

  --font: "Poppins", sans-serif;
}

body {
  font-family: var(--font);
  scroll-behavior: smooth;
  background-color: var(--background);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 80px;
  line-height: 1.1;
}

a {
  color: var(--text);
  text-decoration: none;
  transition: color 0.2s ease;
  display: inline-flex;
  align-items: center;
  width: auto;
}
a:hover {
  color: var(--primary-color);
}
a.active {
  color: var(--primary-color);
}
.button {
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: var(--primary-color);
  border: none;
  font-weight: 600;
  cursor: pointer;
  border: 2px solid var(--primary-color);
  transition: background 0.2s ease;
}
.button:hover {
  color: black;
  border: 2px solid var(--primary-color);
  background: transparent;
}

.container {
  max-width: 1450px;
  padding: 15px;
  margin: 0 auto;
  height: inherit;
}

.flex {
  display: flex;
}
.justify {
  justify-content: center;
}
.align {
  align-items: center;
}
.strecth {
  align-items: stretch;
}

.collumn {
  flex-direction: column;
}

.grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.form {
  height: 100vh;
}

input,
textarea {
  padding: 10px 15px;
  border-radius: 5px;
  border: 1px solid var(--primary-color);
  width: 100%;
}

.loginform {
  width: 40%;
  padding: 90px;
  background-color: white;
  border-radius: 20px;
}

section {
  padding: 100px 0;
}

.dark {
  background-color: var(--secondary-color);
}
